# Archivos generados por macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Archivos de Spotlight
.metadata_never_index
.noindex

# Archivos de la papelera de macOS
.Trashes

# Archivos de cache y logs del sistema
*.swp
*.swo
*.swn
*.lock
*.bak
*.tmp

# Archivos de Xcode
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3
DerivedData/
*.hmap
*.ipa
*.dSYM/
*.xcassets

# Archivos de dependencias
Pods/
Carthage/
Carthage/Checkouts/
Carthage/Build/
Carthage/Checkouts/
Carthage/Build/
SwiftPackages/
SPM/
.build/

# Archivos de Swift Package Manager
Package.resolved

# Archivos de Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/.env

# Archivos de Playgrounds
timeline.xctimeline

# Archivos de Git
.git/
.gitignore